*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#nav, #footer{
    background-color: #161616;
    width: 100%;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

main{
    background-color: #0B070A;
    width: 100%;
    margin: auto;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
